# lab5

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

sns.set_style("darkgrid")
%matplotlib inline

In [4]:
df = pd.read_csv("Data.csv")

In [5]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [6]:
df.dropna(inplace=True)
df["Customer ID"] = df["Customer ID"].astype(int)

## интересующие события и события наблюдения

в качестве событий будем использовать возвраты товаров

In [9]:
(df["Quantity"] < 0).sum()

17341

## Полное совместное распределение

In [10]:
filtered_df = df[df["Quantity"] < 0]

In [20]:
# Группировка данных по всем колонкам и подсчет частоты каждой уникальной комбинации
frequency_table = filtered_df.groupby(["Quantity", "Price", "Customer ID", "Country"]).size().reset_index(name='Frequency')

In [21]:
# Сумма всех частот для нормализации
total = np.sum(frequency_table['Frequency'])

# Вычисление вероятности для каждой комбинации
frequency_table['Probability'] = frequency_table['Frequency'] / total

In [22]:
assert np.isclose(frequency_table['Probability'].sum(), 1)

In [23]:
frequency_table

       Quantity     Price  Customer ID         Country  Frequency  Probability
0        -74215      1.04        12346  United Kingdom          1     0.000058
1         -9360      0.03        15838  United Kingdom          1     0.000058
2         -7128      0.08        14277          France          1     0.000058
3         -7008      0.13        14277          France          1     0.000058
4         -5184      0.08        14277          France          1     0.000058
...         ...       ...          ...             ...        ...          ...
13240        -1   8985.60        17949  United Kingdom          1     0.000058
13241        -1  10468.80        14063  United Kingdom          2     0.000115
13242        -1  10953.50        12918  United Kingdom          2     0.000115
13243        -1  25111.09        17399  United Kingdom          1     0.000058
13244        -1  38970.00        15098  United Kingdom          1     0.000058

[13245 rows x 6 columns]